*{
    margin: 0;
    /* background-color: blue; */
}

html{
    scroll-behavior: smooth;
}

main{
    position: relative;
    height: 100%;
    margin-top: 90px;
}

/*------------------------------------------------------
                PAGE HEADER
------------------------------------------------------*/
.head_aqua{
    position: fixed;
    top: 0;
    z-index: 6;
    background-color: white;
    width: 100%;
}

.sect_head_aqua{
    margin: 30px;

}

.top_aqua{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#title_header{
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    color: rgb(65, 65, 172);
}

.menu_head{
    list-style: none;
    display: flex;
    flex-direction: row;
    text-align: right;
}

.lien{
    margin: 10px;
    list-style: none;
    text-decoration: none;
    color: black;
}

/*------------------------------------------------------
                PAGE INDEX
------------------------------------------------------*/

        /* Barre de Recherche */

.recherche_head{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.block_recherche{
    width: 120px;
    /* margin: 40px; */
    border: rgb(78, 78, 78) dashed 1px;
    padding: 28px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#number{
    width: 155px;
}

        /* Blocks Main */

#title_main{
    margin: 30px auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(65, 65, 172);
}

.sect_block_main{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 90px auto 20px auto;

}

.block_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title_block_main{
    text-align: center;
    font-weight: bold;
    margin: auto 30px;
}

.separ{
    border: black solid 1px;
    /* height: 1px; */
    width: 400px;
    /* display: flex; */
    /* flex-direction: column; */
}

.sect_img_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.block_img_main{
    height: 350px;
    width: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px 20px;
    box-shadow: black 6px 6px 6px ;
}

.block_img_main:hover{
    opacity: 0.8;
    border-radius: 60px;
    transition: 2s;
}

#image_1{
    background-image: url(../img/Maison_1.png);
}

#image_2{
    background-image: url(../img/Maison_8.png);
}

#image_3{
    background-image: url(../img/Maison_2.png);
}

#image_4{
    background-image: url(../img/Maison_4.png);
}

#image_5{
    background-image: url(../img/Peniche_2.png);
}

#image_6{
    background-image: url(../img/Peniche_4.png);
}

.form_contact{
    display: flex;
    flex-direction: column;
}

#button_contact{
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(65, 65, 172);
    color: white;
    padding: 12px 30px;
    margin-top: 30px;
}

/*------------------------------------------------------
                PAGE RESERVATION
------------------------------------------------------*/

.block_map{
    height: 500px;
    margin: 15px;
}

.sect_reser{
    display: flex;
    flex-direction: row;
}

.sect_reser_img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.prez_img{
    display: flex;
}

#btn_log{
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(65, 65, 172);
    color: white;
    padding: 8px 22px;
    display: block;
    margin : auto;
    margin-top: 110px;
    opacity: 0;
}

.prez_img :hover{
    opacity: 0.8;
    border-radius: 60px;
    transition: 2s;
    z-index: 1;
}

#btn_log :hover{
    opacity: 1;
    z-index :4;
}

.block_img_reser{
    height: 250px;
    width: 370px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}

#img_reser_1{
    background-image: url(../img/Maison_7.png);
}
#img_reser_2{
    background-image: url(../img/Maison_1.png);
}
#img_reser_3{
    background-image: url(../img/Peniche_4.png);
}
#img_reser_4{
    background-image: url(../img/Peniche_1.png);
}

/*------------------------------------------------------
                PAGE BIEN
------------------------------------------------------*/
.infos_bien{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.title_bien{
    text-align: center;
    text-transform: uppercase;
    color: rgb(65, 65, 172);
    margin: 70px auto;
}

.description_bien{
    width: 780px;
    margin-right: 60px;
}

.block_img_bien{
    background-image: url(../img/Maison_1.png);
    height: 250px;
    /* width: 100%;  */
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 50px auto 50px auto; */
    max-width: 100%;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    /* clip: rect(119px, 255px, 229px, 80px); */
}

.descript_bien{
    font-weight: bold;
    color: rgb(65, 65, 172);
    margin-bottom: 15px;
    padding-left: 30px;
    letter-spacing: 2px;
}

.separ_bien{
    border: rgb(156, 156, 156) solid 1px;
    width: 400px;
    /* padding-left: 30px; */
    margin: 20px auto 20px 30px;
}

.texte_bien{
    padding-left: 60px;
}

#descript_bien_texte{
    font-weight: bold;
}

.sect_equip{
    display: flex;
    flex-direction: row;
}

.achat_bien{
    width: 300px;
    height: 400px;
    margin: 15px;
    border: rgb(65, 65, 172) dashed 1px;
    border-radius: 20px;
    box-shadow: rgb(65, 65, 172) 8px 8px 8px;
    justify-content: center;
    align-items: center;
}

.block_bien_achat{
    text-align: center;
    letter-spacing: 2px;
    font-size: 22px;
    margin-top: 20px;
}

#adresse{
    margin-top: 70px;
}

#Note{
    font-weight: bold;
    font-size: 36px;
}

.btn_paye{
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(65, 65, 172);
    color: white;
    padding: 12px 30px;
    display: block;
    margin : auto;
    margin-top: 20px;
}

.modal_login{
    font-weight: bold;
    position: fixed;
    top:-999px;
    left:45%;
    padding: 40px;
    width: 400px;
    height: 200px;
    /* border: 2px black double; */
    background: white;
    box-shadow: 3px 3px 10px #4e33e6;
    text-align: center;
    transform: translate(-50%, -50%);
    /* display: none; Ne s'affiche plus sur la page */
    /* background-position: center center; */
    transition: 1s all;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0%;
    left:0%;
    display: none;
}

.overlay.is-open{
    display: non;
}

#btn_popUp{
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(65, 65, 172);
    color: white;
    padding: 12px 30px;
    display: block;
    margin : auto;
    margin-top: 20px;
}

.block_map_bien{
    width: 100%;
    margin-top: 90px;
}




/*------------------------------------------------------
                PAGE LOGIN
------------------------------------------------------*/

.h1-form-user{
    text-align: center;
    margin: 30px;
}

.sec-login{
    background-image: url(../img/backimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index:3;
    height: 520px;
    width: 100%;
    position: absolute;
    margin-top: 55px;
}

/* .opacity-container{
    background-color: rgb(116, 115, 115, 0.5);
    z-index: 2;
    width: 100%;
    height:600px;
    position: relative;
} */

#container-login{
    width:500px;
    margin:0 auto;
    margin-top:22px; 
    z-index:3;
    position: absolute;
    padding-left: 50%;
}

.form-login{
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
}

.container-login, .h1-login{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.input-user-name, .input-password-user{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.input-submit-user{
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.input-submit-user:hover{
    background-color: grey;
    color: white;
    border: 1px solid black;
}

.form-date-birth , .form-password , .form-mail-phone{
    display: flex;
    margin-top: 8px ;
    margin-bottom: 8px ;
}


.birth , .form-mail{
    margin-left: 50px ;
    margin-right:50px ;
}

.gender{
    margin-left:  100px;
}

.display-mail-phone{
    display: block;
}

#title_connect{
    text-transform: uppercase;
    text-align: center;
}

/*---------------------------------------------------------
                    PAGE PROFILE
----------------------------------------------------------*/

.info-user{
    background-image: url(../img/fond_user.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;
    display: flex;
    text-align: center;
}

.bloc-profil{
    background-color: rgb(226, 226, 226);
    border: 2px solid black;
    justify-content: center;
    display: block;
    width: 40%;
    height: 320px;
}

.bloc-info{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-profil{
    background-image: url(../img/profil.jpg);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.informations{
    display: block;
    margin: 20px;
}


.h3-user{
    margin: 20px;
}

.modif{
    text-align: right;
    padding-right: 10px;
}

.button-modif{
    color: blue;
    padding: 5px 10px 5px 10px ;
}

.button-deco{
    color: red;
    padding: 5px 10px 5px 10px ;
}

.button-modif:hover , .button-deco:hover{
    background-color: grey;
    transition: 0.5s;
    border-radius: 20px;
}


/*Ligne centrale de séparation*/
.center-line{
    width: 100%;
    justify-content: center;
}

.line-form{
    padding-left: 40%;
}

.line{
    width: 30%;
    border: 1px solid black;
}


/*Blocs hébergements crées par l'utilisateur*/
.user-location{
    margin: 20px;
    width: 100%;
    justify-content: center;
    text-align: center;
    display: block;
}

.info-bloc1{
    display: flex;
}

.bouton-biens{
    background-color: rgb(106, 168, 250);
    color : white;
    padding : 10px;
}


/*-----------------------------------------------------
                PAGE MODIFICATION INFOS PERSO
------------------------------------------------------*/


.sec-modif{
    justify-content: center;
    text-align: center;
    width: 100%;
}

.form-group{
    display: flex;
}

.show-modif{
    margin: 20px;
    width: 100%;
    display: flex;
}

.recap-profil{
    background-color: rgb(226, 226, 226);
    border: 2px solid black;
    justify-content: center;
    display: block;
    width: 40%;
    height: 450px;
    margin: 20px;
}

.recap-password{
    padding-top : 30px;
}

.p-avertissement{
    color: red;
}

.new-profil{
    border: 1px solid black;
    justify-content: center;
    display: block;
    width: 40%;
    margin: 20px;
}

.button-annuler{
    background-color: rgb(134, 134, 252);
    color: white;
    padding: 10px 20px 10px 20px;
}

/*------------------------------------------------------
                    PAGE BIENS
------------------------------------------------------*/

.font-biens{
    background-image: url(../img/backimg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}

.ajout-biens{
    padding-top: 20px ;
    background-color: white;
    border: 2px solid grey;
    width: 40%;
    height: 700px;
    margin: 40px;
}

.h1-biens{
    letter-spacing: 2px;
    margin: 20px;
}

.user-announce{
    width: 100%;
    text-align: center;
}

.list-announce{
    display: flex;
}

.announce-recap{
    display: flex;
    margin: 20px;
}

.one-announce{
    width: 30%;
    border: 1px solid black;
    margin-right: 20px;
}

.supp-biens{
    display: block;
    text-align: center;
    width: 100%;
}



/*------------------------------------------------------
                PAGE FOOTER
------------------------------------------------------*/

.sect_foot{
    display: flex;
    flex-direction: row;
    background-color: rgb(230, 214, 214);
    width: 100%;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    /* position: absolute; */
    padding-top: 25px;
    margin-top: 50px;
}

.block_foot{
    display: flex;
    flex-direction: row;
    margin: auto 40px;
    align-items: center;
}

#logo_foot{
    margin: 10px;
}